/* .text-styling-tag {
  color: black;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-indent: 0px;
  text-align: left;
  text-decoration: underline overline blue;
  text-transform: lowercase;
  text-shadow: 10px 10px 5px red;
  line-height: 10;
} */
/* .text-styling-tag {
  font-size: 20px;
  font-variant: small-caps;
  font-style: italic;
  font-weight: 100;
}
.span-bold {
  font-weight: 900;
} */
/* .text-styling-tag {
  color: white;
} */
/* .background-demo {
  background-color: yellow;
  width: 1000px;
  height: 800px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/053/858/000/small_2x/dark-room-with-a-wall-that-has-a-yellow-spot-on-it-the-room-is-empty-and-has-a-lot-of-texture-free-photo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  text-align: start;
} */
